.caption{
  color:  #949cb0 !important;
}
.caption-text{
color:white
}
.trt{
    background-color:#24baef !important;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;

}
.brd{
  background-color: #a8a8a83d;
  height: 1px;
  width: 100px;  
}